@import "../../assets/utils/color";

.btn-link {
  padding: 0.8em 1.5em;
  border-radius: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
}

.btn.primary,
.btn-link.primary {
  background-color: $primaryColor;
  color: $white;
}

.btn.secondary,
.btn-link.secondary {
  background-color: $secondaryColor;
  color: $white;
}

.btn.secondary2,
.btn-link.secondary2 {
  background-color: $secondaryColor;
  color: black;
}

.btn.outline-secondary,
.btn-link.outline-secondary {
  background-color: transparent;
  border: 2px solid $secondaryColor;
  color: black;
}
