section.detail-blog {
  margin-top: 2em;

  .left {
    // background-color: aqua;

    .info-blog {
      display: flex;
      align-items: center;
      gap: 1.5em;
    }

    .info-profile-user {
      width: 3.7em;
      height: 3.7em;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .info-user-name {
      font-size: 1.2em;
      font-weight: 400;
    }

    .blog-content {
      margin-top: 2em;
      text-align: center;

      .blog-title {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 1em;
      }

      .image-content {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 2em;
      }
      .blog-html {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1000px) {
  section.detail-blog {
    .row {
      display: block;
    }

    .left {
      width: 100%;
    }
  }
}
