@import "../../assets/utils/color";

section.hero {
  padding: 3em 0;
  background: rgb(42, 45, 65);
  background: linear-gradient(
    90deg,
    rgba(42, 45, 65, 1) 0%,
    rgba(9, 64, 121, 1) 47%,
    rgba(84, 52, 180, 1) 100%
  );
  color: $white;

  .container {
    z-index: 2;
  }

  .heading {
    font-size: 2.5em;

    .primary {
      color: $secondaryColor;
    }

    .secondary {
      color: #7fdcc5;
    }
  }

  .left {
    margin-bottom: 3em;
  }

  .right {
    iframe {
      width: 100%;
      border-radius: 1.5em;
    }
  }
}

section.why {
  position: relative;
  padding: 3em 0 0 0;

  .left {
    width: 100%;
    height: 20em;
    margin-bottom: 3em;
    margin-left: -2em;
    border-radius: 0 1.5em 1.5em 0;
  }

  .right {
    margin-bottom: 3em;

    .list-excess {
      margin-top: 2em;
    }

    .subheading {
      color: $thirdColor;
    }

    .heading {
      color: $fourtyColor;
    }

    .list-excess-item {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 0.8em;
      // color: $thirdColor;

      svg {
        color: $secondaryColor;
        font-size: 1.5em;
      }
    }
  }
}

section.competen {
  padding: 1em 0;

  .subheading {
    text-align: center;
  }

  .heading {
    width: 92%;
    margin: 0 auto;
    text-align: center;
  }

  .list-competens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2em;
    margin-top: 5.5em;
  }

  .list-competen-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(246, 246, 246);
    padding: 1.5em 1.5em;
    margin-bottom: 2em;
    border-radius: 1em;
    transition: 0.3s ease;

    .competen-title {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0.3em;
    }

    .competen-description {
      font-size: 0.9em;
      font-weight: 400;
      height: 2em;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5em;
      height: 5em;
      background-color: $white;
      border-radius: 50%;
      margin-top: -4em;
      margin-bottom: 1.2em;
      box-shadow: 0px 2px 10px rgba($color: #e1e1e1, $alpha: 0.5);
      transition: 0.3s ease;

      img {
        width: 50%;
        object-fit: cover;
      }
    }

    .circle-arrow {
      position: relative;
      display: block;
      width: 1.5em;
      height: 1.5em;
      font-size: 2em;
      border-radius: 50%;
      border: 1px solid rgb(179, 179, 179);
      margin-top: 0.6em;
      color: #000;
      transition: 0.3s ease;

      svg {
        position: absolute;
        left: -0.1em;
        bottom: -0.1em;
      }
    }

    &:hover {
      background-color: $white;
      box-shadow: 0px 2px 10px rgba($color: #e1e1e1, $alpha: 0.5);

      .circle-arrow {
        background-color: $secondaryColor;
        border-color: $secondaryColor;
      }

      .icon {
        background-color: $secondaryColor;
      }
    }
  }
}

section.info-more {
  .row {
    padding: 3.5em 1em;
    border-radius: 1em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(58%2c 70%2c 151%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c469.41C84.837%2c446.475%2c118.577%2c346.271%2c187.468%2c291.705C247.054%2c244.509%2c344.297%2c240.8%2c375.905%2c171.67C407.513%2c102.54%2c363.916%2c23.821%2c343.418%2c-49.376C325.426%2c-113.624%2c307.337%2c-178.026%2c263.817%2c-228.599C220.204%2c-279.28%2c158.981%2c-306.547%2c98.177%2c-334.36C27.822%2c-366.542%2c-41.159%2c-406.459%2c-118.467%2c-403.462C-207.399%2c-400.015%2c-316.032%2c-390.621%2c-365.144%2c-316.399C-415.107%2c-240.891%2c-357.375%2c-140.982%2c-351.952%2c-50.603C-347.774%2c19.026%2c-349.562%2c85.269%2c-336.927%2c153.869C-320.292%2c244.181%2c-333.333%2c351.608%2c-266.306%2c414.38C-198.778%2c477.622%2c-89.312%2c493.555%2c0%2c469.41' fill='%23262e62'%3e%3c/path%3e%3cpath d='M1440 1102.8609999999999C1548.746 1110.31 1665.151 1111.95 1756.3609999999999 1052.268 1847.329 992.744 1890.748 885.047 1928.612 783.142 1964.338 686.991 1970.733 586.686 1967.4470000000001 484.165 1963.792 370.144 1980.993 242.13 1908.45 154.086 1835.683 65.76999999999998 1707.88 50.889999999999986 1594.997 32.12800000000004 1492.652 15.116999999999962 1387.009 12.918999999999983 1290.662 51.40300000000002 1199.191 87.94 1145.52 175.59699999999998 1071.925 241.06099999999998 985.1179999999999 318.277 858.824 361.522 819.231 470.747 777.914 584.728 796.988 721.356 860.358 824.7139999999999 921.624 924.639 1044.644 960.044 1150.318 1010.7529999999999 1243.558 1055.495 1336.823 1095.7930000000001 1440 1102.8609999999999' fill='%235a68c0'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    color: white;
  }

  .list-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .list-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 3em;
      margin-bottom: 0.2em;
    }

    .info-description {
      width: 15em;
      height: 3em;
      text-align: center;
      font-size: 0.8em;
    }
  }
}

section.blog {
  margin-top: 7em;

  .subheading {
    text-align: center;
  }

  .heading {
    margin-bottom: 1.4em;
    text-align: center;
  }
}

section.faq {
  margin-top: 7em;

  .left {
    margin-bottom: 2em;
  }
}

section.banner {
  padding: 0 1.5em;
  margin-top: 7em;
  color: $white;

  .container {
    position: relative;
    background-color: $primaryColor;
    border-radius: 1em;
    padding: 5em 2em;
    overflow: hidden;

    .banner-info {
      position: relative;
      z-index: 1;
    }

    .heading {
      font-size: 1.5em;
    }

    .description {
      font-size: 0.8em;
      margin-bottom: 2em;
    }

    .shape {
      width: 6em;
      position: absolute;
    }

    .shape1 {
      left: 0;
      bottom: 0;
    }

    .shape2 {
      right: 0;
      top: -2em;
    }
  }
}

@media (min-width: 1000px) {
  section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;

    .row {
      display: grid;
      gap: 3em;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  section.why {
    padding: 6em 0 0 0;

    .left {
      position: absolute;
      left: -10em;
      width: 50%;
      height: 80%;

      &::before {
        content: "";
        position: absolute;
        top: -3em;
        left: -5em;
        width: 100%;
        height: 37.5em;
        background-color: rgb(230, 230, 230);
        border-radius: 0 1.5em 1.5em 0;
        z-index: -1;
      }
    }

    .right {
      max-width: 650px;
      margin-left: auto;
    }
  }

  section.competen {
    margin-top: 10em;

    .heading {
      width: 50%;
    }
  }

  section.faq {
    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4em;
    }
  }

  section.banner {
    .container {
      padding: 5em 15em;

      .heading {
        font-size: 2em;
      }

      .shape {
        width: 12em;
        position: absolute;
      }
    }
  }
}

@media (max-width: 1000px) {
  section.hero {
    background: linear-gradient(
      90deg,
      rgba(42, 45, 65, 1) 0%,
      rgba(9, 64, 121, 1) 47%
    );
  }
}
